html {
  background-color: black;
  color: white;
  font-family: 'Source Code Pro', monospace;
  margin: 0 10%;
}

#editor {
  padding: 10px;
  height: 200px;
  background-color: #453750;
  border: 1px #73648A solid;
}
/* what is injected as cursor in js */
.cursor-placeholder {
  visibility: hidden;
  display: inline-block;
  width: 0;
}

/* what is in index.html */
.blinking-cursor {
  font-weight: 100;
  z-index: 1;
  position: absolute;
  color: #cdcdcd;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #cdcdcd;
  }
}
